body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0f18;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: relative;
}

.menu-icon {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 10px;
}

.close-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

.App-nav {
  display: flex;
  justify-content: flex-end;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .menu-icon {
    display: block;
  }

  .App-nav {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    background-color: #333;
  }

  .App-nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .App-nav ul {
    flex-direction: column;
  }

  .App-nav li {
    margin: 10px 0;
  }

  .App-header h1,
  .App-header p {
    margin: 0;
  }

  .close-icon {
    display: block;
  }
}

/* Tablet and Desktop Styles */
@media (min-width: 601px) {
  .menu-icon {
    display: none;
  }

  .App-nav {
    display: flex;
    justify-content: flex-end;
  }
}
